
.bg-000
    background-color:  #000

.bg-028
    background-color:  rgba(0, 0, 0, 0.28)

.bg-fff
    background-color: #fff

.bg-ig-black-b
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4))

.bf-x1
    backdrop-filter: blur(12px)
.bf
    backdrop-filter: blur(8px)
.bf-s
    backdrop-filter: blur(4px)
