
$err: #fc2533
$err-hv: #f72331
$err-fcs: #ed1f2d
$err-shd: #ffc2c661

$err-bg: #fff4f4
$err-bg-hv: #feefef
$err-bg-fcs: #ffebeb

$err-tih: #b61e28
$err-tih-hv: #ae1c25
$err-tih-fcs: #a51923

$err-dot: #fc3f4c
$err-dot-hv: #f53845
