@use '../../sass/theme/primary' as *

.uni-radio-wrapper
    font-size: 1em
    .uni-radio-input
        width: 1em !important
        height: 1em !important
        background-color: $pri !important
        border-color: $pri !important
        svg 
            width: 100%
            height: 100%
