// 主色
$pri: #1fcbd7  // #1fcbd7 // #15bfcb // #13c2c2
$pri-hv: #1dc7d3
$pri-fcs: #1ac0cc
// shadow
$pri-shd: #7bf2f236
// 阴影
$pri-sdo: #0f141431
    
// 轻色
$pri-iht: #ddfcfe67
$pri-iht-hv: #ddfcfe73
$pri-iht-fcs: #ddfcfe94 // #dbffff
// shadow
$pri-iht-shd: #e7ffff62

// 主题深色
$pri-deep: #141414 // #080f0f
$pri-deep-hv: #080808
$pri-deep-fcs: #000

// 主标文字
$pri-tih: #111414
$pri-tit: #262729
$pri-tid: #696f6f
$pri-tis: #a7adad
$pri-sus: #a7adad

// 背景
$pri-pag-bg: #f2f4f7 // #f2f4f7 // #f3f5f7 // #f2f4f7


