
$def: #f2f4f7
$def-hv: #eceff2 // #f0f2f5
$def-fcs: #e9ebee // #e9eaee
// shadow
$def-shd: #e9eaee39
// 阴影
$def-sdo: #e9eaee5c

$def-s: #fafbfd // #f8fafd
$def-s-hv: #f6f7f9 // #f6f8fb
$def-s-fcs: #f2f4f7 // #f2f4f7
// shadow
$def-s-shd: #e9eaee22
// 阴影
$def-s-sdo: #e9eaee3e


$btn-tit: #fff // #fff

$btn-wht: #fff
$btn-wht-hv: $def
$btn-wht-shd: rgba(255, 255, 255, 0.2)

//
$btn-bck: rgba(0, 0, 0, 0.22)
$btn-bck-hv: rgba(0, 0, 0, 0.32)
$btn-bck-shd: rgba(0, 0, 0, 0.08)

$btn-bck-tit: rgba(255, 255, 255, 0.96)
$btn-bck-tit-hv: rgba(255, 255, 255, 1)

// line
$hr: #e1e2e8
$hr-s: #ecedf0