
// 主文字颜色

$tih: #000
$tih-fcs: #000
    
$tit: #121212
$tit-fcs: #080808
    
$tid: #343434
$tid-fcs: #2c2c2c

$tis: #666
$tis-fcs: #565656

$sus: #bfbfbf
$sus-fcs: #acacac
    
$cod-tih: #262729
$cod-tit: #262729
$cod-tid: #6f7275
$cod-tis: #7f8183

// =====================================================================

$wht: #fff