
// 主文字颜色

$tih: #000
$tih-fcs: #000
    
$tit: #121212
$tit-fcs: #080808
    
$tid: #424242
$tid-fcs: #3c3c3c

$tiw: #696969
$tiw-fcs: #626262

$tis: #939393
$tis-fcs: #898989

$sus: #bfbfbf // #bfbfbf
$sus-fcs: #acacac
    

$hih: #262729
$hih-fcs: #1d1e1f

$his: #6b6d73
$his-fcs: #5a5d63

$cod-tit: #262729
$cod-tid: #6f7275
$cod-tis: #7f8183

// =====================================================================

$wht: #fff