@use '../__conf' as *

.bg-def
    background: $def
.bg-def-imp
    background: $def !important
.bg-def-hv
    background: $def-hv
.bg-def-fcs
    background: $def-fcs

.fx-hv-bg-def:hover
    @extend .bg-def-hv
.fx-fcs-bg-def
    &:active, &:focus, &:focus-visible
        @extend .bg-def-fcs

.shd-def
    box-shadow: 0px 0px 0px 0.3rem $def-shd

.fx-hv-shd-def:hover
    @extend .shd-def
.fx-fcs-shd-def
    &:active, &:focus, &:focus-visible
        @extend .shd-def

.fx-aii-btn-def
    @extend .fx-fcs-shd-def
    @extend .fx-hv-bg-def
    @extend .fx-fcs-bg-def

.fx-aii-btn-bd-def
    &:hover 
        border-color: $def-hv
    &:active, &:focus, &:focus-visible
        border-color: $def-fcs

.btn-def
    @extend .bg-def
    @extend .fx-aii-btn-def