


.btn-wht
    border-color: #fff
    background: transparent
    &:hover
        background: rgba(255, 255, 255, 0.08)
    &:active, &:focus, &:focus-visible
        background: rgba(255, 255, 255, 0.12)
        